<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">ID Asesor</th>
        <th scope="col">ID Cliente</th>
        <th scope="col">ID Acudiente</th>
        <th scope="col">Producto</th>
        <th scope="col">Especie</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Valor unidad</th>
        <th scope="col">Valor total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of ordenes;">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.idAsesor }}</td>
        <td>{{ item.idCliente }}</td>
        <td>{{ item.idAcudiente }}</td>
        <td>{{ item.producto }}</td>
        <td>{{ item.especie }}</td>
        <td>{{ item.cantidad | number }}</td>
        <td>{{ item.valorUnidad | number }}</td>
        <td>{{ item.valorTotal | number }}</td>
        </tr>
    </tbody>
</table>
<a (click)="openModalWithComponent()"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>

